.card {
  cursor: pointer;
  color: black;
  background-image: url("https://images.unsplash.com/photo-1615937722923-67f6deaf2cc9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
  background-repeat: repeat-n;
}

.list-group-item {
  cursor: pointer;
  color: black;
}

.mt-3 {
  cursor: default;
}