.card {
  cursor: pointer;
  color: black;
  background-repeat: repeat-n;
}

.list-group-item {
  cursor: pointer;
  color: black;
  text-align: center;
}

.mt-3 {
  cursor: default;
}

.not-centered {
  text-align: left;
  float:left;
}