#logo-home {
  margin-top: -50px;
  margin-left: 90px;
}

#landingPage {
  color: rgb(255, 255, 255);
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  font-size: 80px;
  font-weight: bolder;
}

#slogan{ 
  color: rgb(255, 255, 255);
  margin-top: -30px;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  font-size: 40px;
  font-weight: bolder;
  font-style: italic;
}

#homepage-buttons {
  margin-top: -40px;
}

#login-button {
  margin-right: -5px;
  color: black;
  background-color:rgba(164, 210, 70, 0.994);
}
#login-button:hover {
  background-color:rgba(130, 168, 53, 0.994);
  color: rgba(56, 55, 55, 0.835);
}

#signup-button {
  margin-left: -5px;
  color: #000;
  background-color:rgba(164, 210, 70, 0.994);
}
#signup-button:hover {
  background-color:rgba(130, 168, 53, 0.994);
  color: rgba(56, 55, 55, 0.835);
}