
#App {
  color: white;
  font-size: larger;
  font-weight: bold;
  text-align: center; 
}

.navbar {
  padding: 0;
}

#basic-navbar-nav {
  background-color: rgba(164, 210, 70, 0.994);
  max-width: none;
  margin-bottom: 2rem;
  padding: 5px;

}

#Sign-up {
  padding-left: 10px;
  color: black;
  font-size: larger;
  font-weight: bold;
 
}

#Sign-up:hover {
  color: rgb(75, 72, 72);
  font-size: larger;
  font-weight: bold;
 
}

#Log-in {
  padding-left: 10px;
  color: black;
  font-size: larger;
  font-weight: bold;
 
}


#Log-in:hover {
  
  color: rgb(75, 72, 72);
  font-size: larger;
  font-weight: bold;
 
}

#My-pantry {
  padding-left: 10px;
  color: black;
  font-size: larger;
  font-weight: bold;
 
}

#My-pantry:hover {
  color: rgb(75, 72, 72);
  font-size: larger;
  font-weight: bold;
 
}

#Favourites {
  padding-left: 10px;
  color: black;
  font-size: larger;
  font-weight: bold;
 
}

#Favourites:hover {
  color: rgb(75, 72, 72);
  font-size: larger;
  font-weight: bold;
 
}

#pantrypal-brand {
  color:  rgb(255, 255, 255);
  text-shadow: 1px 0 0 rgb(0, 0, 0), 0 -1px 0 rgb(0, 0, 0), 0 1px 0 rgb(0, 0, 0), -1px 0 0 rgb(0, 0, 0);

  padding-left: 5px;
  font-size: xx-large;
  font-weight: bold;
}

.vl {
  border-left: 2px solid rgba(0, 0, 0, 0.225);
}

#brand-logo {
  color:rgb(0, 0, 0)
}