
#App {
  color: white;
  font-size: larger;
  font-weight: bold;
  text-align: center; 
}

.navbar {
  padding: 0;
}

#basic-navbar-nav {
  background-color: rgba(164, 210, 70, 0.994);
  max-width: none;
  margin-bottom: 2rem;

}

#Sign-up {
  color: black;
  font-size: larger;
  font-weight: bold;
 
}

#Sign-up:hover {
  color: rgb(75, 72, 72);
  font-size: larger;
  font-weight: bold;
 
}

#Log-in {
  color: black;
  font-size: larger;
  font-weight: bold;
 
}


#Log-in:hover {
  color: rgb(75, 72, 72);
  font-size: larger;
  font-weight: bold;
 
}

#My-pantry {
  color: black;
  font-size: larger;
  font-weight: bold;
 
}

#My-pantry:hover {
  color: rgb(75, 72, 72);
  font-size: larger;
  font-weight: bold;
 
}

#Favourites {
  color: black;
  font-size: larger;
  font-weight: bold;
 
}

#Favourites:hover {
  color: rgb(75, 72, 72);
  font-size: larger;
  font-weight: bold;
 
}