.App{
  text-align: center;
}
  /*  */
  /* background-color: rgba(252, 130, 74, 0.103); */
  /* background-color: rgba(143, 213, 166, 0.183); */
  /* background-color: rgba(183, 173, 207, 0.151); */ 
 


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#input-form {
  display: flex !important;
}

#ingredient-button {
  display: flex !important;
  word-wrap: break-word !important;
}

.hidden {
  display: none;
}

.card-header {
  background-color: #b7adcfff;
}

.red {
  color: red;
}

.center {
  text-align: center;
}

.btn-center {
  display: flex !important;
  align-items: center !important;
}

.form-div {
  color: black;
  background-color: rgba(183, 173, 207, 0.771);
  border-radius: 15px;
}

#form-links {
  color: rgb(163, 210, 70) !important;
  font-weight: bold;
}